.twoCardSection {
  padding: 0 120px;
  @media (max-width: 767px) {
    padding: 0 80px;
  }
  @media (max-width: 575px) {
    padding: 0 20px;
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -32px;
    @media (max-width: 1199px) {
      margin: 0 -25px;
    }
    @media (max-width: 991px) {
      margin: 0 -20px;
    }
    @media (max-width: 767px) {
      margin: 0;
      flex-direction: column;
    }
    .twoCardItem {
      width: 50%;
      padding: 0 32px;
      display: flex;
      flex-direction: column;
      position: relative;
      @media (max-width: 1199px) {
        padding: 0 25px;
      }
      @media (max-width: 991px) {
        padding: 0 20px;
      }
      @media (max-width: 767px) {
        padding: 0;
        width: 100%;
        margin: 0 0 30px;
      }
      &::before {
        content: "";
        position: absolute;
        border: 1px solid #fff;
        width: calc(100% - 105px);
        height: calc(100% - 44px);
        margin: 20px;
        z-index: 1;
        @media (max-width: 1199px) {
          width: calc(100% - 92px);
        }
        @media (max-width: 991px) {
          width: calc(100% - 80px);
          height: calc(100% - 40px);
        }
        @media (max-width: 767px) {
          width: calc(100% - 42px);
        }
      }
      &_image {
        position: relative;
        img {
          max-width: 100%;
          display: block;
          width: 100%;
        }
        .imageText {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: #000;
          font-size: 42.189px;
          font-style: normal;
          font-weight: 400;
          line-height: 107.91%;
          text-transform: capitalize;
          @media (max-width: 991px) {
            font-size: 35px;
          }
          @media (max-width: 767px) {
            font-size: 30px;
          }
        }
      }
      &_content {
        background-color: #1d5a3f;
        color: #fff;
        padding: 94px 50px 60px;
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: 1199px) {
          padding: 68px 43px 45px;
        }
        @media (max-width: 991px) {
          padding: 35px 30px 35px;
        }
        p {
          color: #fff;
          text-align: center;
          font-size: 18.563px;
          font-style: normal;
          font-weight: 400;
          line-height: 130.092%;
          margin: 0;
          padding: 0;
          @media (max-width: 991px) {
            font-size: 16px;
          }
        }
      }
      &:last-child {
        .twoCardItem_content {
          background-color: #f90;
        }
      }
    }
  }
}
