.hero_section {
  background-color: #fff9e0;
  overflow: hidden;

  .hero_section_wrapper {
    position: relative;
    height: calc(100vh - 210px);
    padding: 30px 0;
    h2 {
      text-align: center;
      padding: 60px 0 0;
      font-size: 46px;
      color: #6a1c1c;
      z-index: 9;
      position: relative;
    }
    .hero_section_title {
      display: none;
      @media (max-width: 767px) {
        display: block;
        position: relative;
        z-index: 9;
        padding: 0 30px;
      }

      span {
        text-align: center;
        color: #6a1c1c;
        @media (max-width: 767px) {
          font-size: 45px !important;
        }
        @media (max-width: 575px) {
          font-size: 35px !important;
        }
      }
    }
    @media (max-width: 575px) {
      height: calc(100vh - 40px);
    }
    .hero_section_wrapper_inner {
      position: absolute;
      bottom: -440px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 1600px) {
        bottom: -335px;
      }
      @media (max-width: 991px) {
        bottom: -244px;
      }

      .hero_section_first_image {
        position: relative;
        img {
          display: block;
          width: 1232px;
          animation: godAnimation 40s infinite linear;
          @media (max-width: 1600px) {
            width: 880px;
          }
          @media (max-width: 991px) {
            width: 650px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          background-image: url("../../images/hero_image2.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 55%;
          height: 55%;
          animation: godAnimationRevenrse 40s infinite linear;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url("../../images/hero_image3.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 37%;
          height: 33%;
          z-index: 2;
          @media (max-width: 1600px) {
            top: 48%;
            height: 29%;
            width: 33%;
          }
        }
      }
      .hero_section_second_image {
        @media (max-width: 1600px) {
        }
        img {
        }
      }
      .hero_section_third_image {
        img {
          max-width: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  @keyframes godAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes godAnimationRevenrse {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(-180deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
}
