.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999999999;
  background: #fff9e0;
  p {
    color: rgb(0, 0, 0);
    font-size: 120px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "gilroy-bold-italic";
    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
.CircularProgressbar {
  .CircularProgressbar-path {
    stroke: white !important;
    stroke-linecap: round;
    -webkit-transition: stroke-dashoffset 0.5s ease 0s;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .CircularProgressbar-text {
    fill: #fff !important;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
}
.counterContainer {
	display: flex;
  position: relative;
  .percentageCounter {
	font-size: 5em;
	position: absolute;
	left: 25rem;
	bottom: -17rem;
	color: #000000;
	@media (min-width: 1600px) {
	  left: 37rem;
	  bottom: -23rem;
	}
    }



    .mantra_loader{
	position: absolute;
	left: -50rem;
	bottom: -17rem;
    }
}

