$color_1: #6a1c1c;
$color_2: #fff;

.blogs {
  padding: 150px 0 0;
  @media (max-width: 1600px) {
    padding: 120px 0 0;
  }
  
}
.blogsCardsOuter {
    display: flex;
    padding: 0 7rem 0rem;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      padding: 0 5rem 0rem;
    }
    @media (max-width: 991px) {
      padding: 0 4rem 0rem;
    }
    @media (max-width: 767px) {
      padding: 0;
      margin: 0;
    }

    .blogCardWrapper {
      width: 25%;
      margin: 0 0 50px;
      transition: all 0.5s;
      padding: 0 15px;
      @media (max-width: 1199px) {
        width: 33.33%;
      }
      @media (max-width: 991px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%;
        padding: 0 20px;
      }
      &:hover {
        transform: translateY(-30px);
      }

      .blogsCardImage {
        width: 100%;
        display: block;
        height: 100%;
      }

      .blogsCardTextOuter {
        padding: 1.3rem;
        background: #2e7b59;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .blogsCardText {
        color: $color_2;
        font-size: 11.964px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      .Blogscardmain {
        text-decoration: none;
        color: #fff;
        font-size: 11.964px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0 0 20px;
      }

     

      .blogsCardText2 {
        color: $color_2;
        font-size: 11.964px;
        font-style: normal;
        margin-top: 4%;
        margin-bottom: 4%;
        font-weight: 400;
        line-height: 150%;
      }
      .blogCardsTitle {
        color: $color_2;
        font-size: 11.964px;
        font-style: normal;
        margin-top: 4%;
        margin-bottom: 4%;
        font-weight: 400;
        line-height: 150%;
      }
      .blogsCard {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .blogCardsBtn {
        margin-top: auto;
      }
      .blogsCardTitle {
        color: $color_2;
        text-decoration: none;
        font-size: 18px;
        margin: 0 0 20px;
        line-height: 130%;
      }
      .blogsCardDescription {
        color: $color_2;
        text-decoration: none;
        font-size: 11px;
        margin: 0 0 20px;
      }
    }
  }