.innerPageBanner {
  margin: 0 0 50px;
  &_wrapper {
    img {
      max-width: 100%;
      display: block;
      width: 100%;
      //   height: calc(100vh - 40px);
      object-fit: cover;
      @media (max-width: 767px) {
        height: 75vh;
        object-position: 88% 100%;
      }
    }
  }
}
