.blog {
  background: rgba(255, 234, 174, 0.16);
.innerPageCommonHeading {
    padding: 200px 0 50px;
    @media(max-width:1199px){
      padding: 200px 0 50px;
    }
    @media(max-width:991px){
      padding: 200px 0 40px;
    }
    @media(max-width:767px){
      padding: 200px 0 30px;
    }
}
}
