.siddhguru_container {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .siddhguru_mantra_section {
    width: 40%;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @media (max-width: 1024px) {
      width: 80%;
    }
    @media (max-width: 426px) {
      width: 90%;
    }
  }
  .siddhguru_section {
    img {
      max-width: 100%;
    }
  }
  .siddhguru_mantra_text {
    color: #123828;
    font-family: "Lohit-Devanagari";
    font-size: 42.194px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1.5rem;
    @media (max-width: 426px) {
      font-size: 25px;
    }
    @media (max-width: 384px) {
      font-size: 20px;
    }
  }
  .siddhguru_message_section {
    color: #000;
    font-family: Inria Serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .input_field {
    background: #d9d9d9;
    outline: none;
    border: none;
    padding: 10px 35px 10px 15px;
    width: 230px;
    margin: 0 20px;
    @media (max-width: 575px) {
      margin: 20px 0;
      width: 90%;
    }
  }

  .sidhhguru_form_content {
    padding-top: 2rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: 3rem;
    @media (max-width: 575px) {
      // flex-direction: column;
      padding: 0;
    }
  }
  .submit_btn_outer {
    padding-top: 2rem;
  }
  .submit_btn {
    padding: 1rem 4.5rem 1rem 4.5rem;
    cursor: pointer;
    background: #ff9900;
    outline: none;
    border: none;
    width: 20px;
  }
  .siddhguru_dropdown_menu {
    background-color: #d9d9d9;
    width: 230px;
    margin: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    @media (max-width: 575px) {
      width: 90%;
      margin: 20px 0;
    }
  }

  .p-dropdown-label {
    text-align: left;
    padding-left: 1rem;
  }
}
.p-dropdown-item {
  color: black;
  padding: 8px;
  background-color: #d9d9d9;
}
.p-dropdown-trigger {
  padding-right: 8px;
}
ul.p-dropdown-items {
  padding: 0 !important;
}
.p-dropdown-items-wrapper {
  overflow: hidden !important;
}
.p-dropdown-item {
  transition: all 0.4s;
}
.p-dropdown-item:hover {
  background-color: #ff9900;
  color: #fff;
}
