.siddhguru_container {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  @media (max-width: 767px) {
    padding-bottom: 2rem;
  }

  .siddhguru_mantra_section {
    width: 40%;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @media (max-width: 1024px) {
      width: 80%;
    }
    @media (max-width: 426px) {
      width: 90%;
    }
  }
  .siddhguru_section {
    img {
      max-width: 100%;
    }
  }
  .siddhguru_mantra_text {
    color: #123828;
    // font-family: "Lohit-Devanagari" !important;
    font-family: "popins";
    font-size: 42.194px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1.5rem;
    @media (max-width: 1199px) {
      font-size: 38px;
    }
    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
    }
    @media (max-width: 426px) {
      font-size: 25px;
    }
    @media (max-width: 384px) {
      font-size: 20px;
    }
  }
  .siddhguru_message_section {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0 20px;
  }
}