.card_wraper {
  width: 33.33%;
  @media (max-width: 861px) {
    width: 50%;
  }
  @media (max-width: 590px) {
    width: 100%;
  }
  .card_item {
    display: flex;
    flex-direction: column;
    padding: 72px 31px;
    height: 100%;
    @media (max-width: 1199px) {
      padding: 40px 20px;
    }
    @media (max-width: 991px) {
      padding: 28px 15px;
    }
    @media (max-width: 575px) {
      padding: 0 0 30px;
    }
    .card_image {
      position: relative;
      .card-image {
        width: 100%;
        object-fit: cover;
        max-width: 100%;
        height: 100%;
      }
      .imageText {
        color: #fff;
        font-size: 42.189px;
        font-style: normal;
        font-weight: 400;
        line-height: 107.91%;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: capitalize;
        @media (max-width: 1199px) {
          font-size: 35px;
        }
        @media (max-width: 991px) {
          font-size: 28px;
          bottom: 30px;
        }
      }
      &.image_0 {
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(
            0deg,
            #a44f00 -4.37%,
            rgba(217, 217, 217, 0) 102.81%
          );
          bottom: 0;
          width: calc(100%);
          height: 160px;
        }
      }
      &.image_1 {
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(
            0deg,
            rgba(244, 210, 182, 0.6) -4.37%,
            rgba(217, 217, 217, 0) 102.81%
          );
          bottom: 0;
          width: calc(100%);
          height: 160px;
        }
      }
      &.image_2 {
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(
            0deg,
            #0073a4 -4.37%,
            rgba(217, 217, 217, 0) 102.81%
          );
          bottom: 0;
          width: calc(100%);
          height: 160px;
        }
      }
    }
    .card-content {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      height: 100%;
      .card-title {
        font-size: 30px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #ff9900;
        height: 100%;
        margin-bottom: 25px;
        width: 89%;
        @media (max-width: 1199px) {
          font-size: 24px;
          width: 95%;
        }
        @media (max-width: 991px) {
          font-size: 22px;
          margin: 0 0 15px;
        }
      }
      .svg_line {
        margin-top: auto;
      }

      .card-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.04rem;
        text-align: left;
        margin-bottom: 10px;
        color: black;
        width: 80%;
      }
    }
  }
}
