.newHeroSection {
  &_wrapper {
    video {
      max-width: 100%;
      width: 100%;
      display: block;
      &.desk {
        display: block;
        @media (max-width: 767px) {
          display: none;
        }
      }
      &.mobile {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}
