.newHeroSection {
  &_wrapper {
    video {
      max-width: 100%;
      width: 100%;
      display: block;
      height: calc(100vh - 142px);
      // height: 100%;
      object-fit: cover;
      @media(max-width:767px){
        height: calc(100vh - 340px);
        object-fit: cover;
      }
      &.desk {
        display: block;
        @media (max-width: 767px) {
          display: none;
        }
      }
      &.mobile {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}
