$color_1: #6a1c1c;
$color_2: #fff;

.fratured_blog {
  background: #123828;

  .blogsOuter {
    width: 100%;
  }

  .blogsText {
    color: $color_1;
    font-size: 59px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.59px;
    margin: 0;
  }
}
