.retreat {
  .register {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
  }
  .registerText {
    .headingContentWithImagesItem_wrapper {
      margin: 10px 0;
    }
    .headingContentWithImagesItem {
      margin: 10px 0;
    }
  }
}
.Retreat_background{
  background-color: #1d5a3f;
  padding-top: 10px;
  padding-bottom: 1px;
  color: white;
}
