.retreat {
  .register {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
  }
  .registerText {
    .headingContentWithImagesItem_wrapper {
      margin: 10px 0;
    }
    .headingContentWithImagesItem {
      margin: 10px 0;
    }
  }
}
