.news {
  padding: 200px 0;
  &_wrapper {
    &_cardList {
      padding: 0 105px;
      @media (max-width: 1199px) {
        padding: 0 90px;
      }
      @media (max-width: 991px) {
        padding: 0 70px;
      }
      @media (max-width: 767px) {
        padding: 0 40px;
      }
      @media (max-width: 575px) {
        padding: 0 20px;
      }
    }
  }
}
