.header {
  // overflow: hidden;
  padding: 20px 100px 40px 20px;
  z-index: 9;
  position: relative;
  @media (max-width: 1199px) {
    padding: 20px 40px 40px 20px;
  }
  @media (max-width: 991px) {
    padding: 10px 20px 10px 30px;
  }
  @media (max-width: 768px) {
    padding: 10px 10px 0 20px;
  }
  .header_container {
    .header_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
