.aboutAshramPage {
  .innerPageCommonHeading {
    padding: 200px 0 90px;
    @media (max-width: 1199px) {
      padding: 160px 0 80px;
    }
    @media (max-width: 991px) {
      padding: 140px 0 50px;
    }
    @media (max-width: 767px) {
      padding: 140px 0 40px;
    }
    .innerPageCommonHeading_wrapper {
      width: 836px;
      margin: 0 auto;
      @media (max-width: 1199px) {
        width: 690px;
      }
      @media (max-width: 991px) {
        width: 580px;
      }
      @media (max-width: 767px) {
        width: 522px;
      }
      @media (max-width: 575px) {
        width: 100%;
        padding: 0 10px;
      }
      h2 {
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: 107.91%;
        @media (max-width: 1199px) {
          font-size: 50px;
        }
        @media (max-width: 991px) {
          font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 38px;
        }
        @media (max-width: 575px) {
          font-size: 32px;
        }
      }
    }
  }
  .animatedText {
    padding: 0 20px 100px;
    @media(max-width:767px){
      padding-bottom: 50px;
    }
    span {
      font-family: "Lohit-Devanagari";
      text-align: center;
      @media (max-width: 1199px) {
        font-size: 22px;
      }
      @media (max-width: 991px) {
        font-size: 20px;
      }
      .text2 {
        font-family: "Inria Serif";
      }
    }
  }
}
