.background_banner {
  background-image: url("../../images/galarybanerbackground.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  .galary_baner {
    display: flex;
    justify-content: space-evenly;
    // width: 100%;
    align-items: center;
    padding: 12rem 0;
    @media (min-width: 1440px) {
      padding: 8rem 0;
    }
    @media (max-width: 1440px) {
      padding: 8rem 0;
    }
    @media (max-width: 1199px) {
      padding: 11rem 0;
    }
    @media (max-width: 991px) {
      padding: 12rem 0;
    }
    @media (max-width: 769px) {
      display: flex;
      flex-direction: column;
      padding: 7rem 0;
    }
    @media (max-width: 480px) {
      padding: 8rem 0;
    }
  }
  .galary_baner_textcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #f90;
    font-family: "Inria Serif";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.91%; /* 45.322px */
    @media (min-width: 1440px) {
      font-size: 42px;
    }
    @media (max-width: 1440px) {
      font-size: 42px;
    }
    @media (max-width: 1199px) {
      font-size: 40px;
    }
    @media (max-width: 991px) {
      font-size: 38px;
    }
    @media (max-width: 769px) {
      font-size: 35px;
      width: 100%;
    }
    @media (max-width: 575px) {
      font-size: 31px;
    }
    @media (max-width: 480px) {
      font-size: 27px;
    }
  }
  .galary_baner_title2 {
    width: 40%;
    @media (min-width: 1440px) {
      width: 40%;
    }
    @media (max-width: 1440px) {
      width: 40%;
    }
    @media (max-width: 1199px) {
      width: 45%;
    }
    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 769px) {
      width: 50%;
      text-align: center;
    }
  }
  .galary_baner_text {
    color: #000;
    font-family: "Inria Serif";
    font-size: 23.07px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 34.606px */
    @media (min-width: 1440px) {
      font-size: 23.07px;
    }
    @media (max-width: 1440px) {
      font-size: 23.07px;
    }
    @media (max-width: 1199px) {
      font-size: 21px;
    }
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 769px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      font-size: 15px;
    }
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .galary_baner_img {
    width: 50%;
    padding-right: 0;
    @media (min-width: 1440px) {
      padding-right: 0;
    }
    @media (max-width: 1440px) {
      padding-right: 4rem;
    }
    @media (max-width: 1199px) {
      padding-right: 3rem;
    }
    @media (max-width: 991px) {
      padding-right: 2rem;
    }
    @media (max-width: 769px) {
      padding-right: 0;
      width: 59%;
    }
    @media (max-width: 575px) {
      padding-right: 0;
      width: 77%;
    }
    @media (max-width: 480px) {
      width: 90%;
    }
  }
  .galary_baner_img img {
    max-width: 100%;
  }
}
