.fullWidthImage {
    margin: 0 0 80px;
  &_wrapper {
    padding: 0 110px;
    @media(max-width:1024px){
        padding: 0 80px;
    }
    @media(max-width:991px){
        padding: 0 65px;
    }
    @media(max-width:767px){
        padding: 0 55px;
    }
    @media(max-width:575px){
        padding: 0 20px;
    }
    img {
      max-width: 100%;
      display: block;
      width: 100%;
    }
  }
}
