.brahmasutra_section {
      width: 100%;
      margin-top: 1rem;
      overflow-x: hidden;
      position: relative;
      .orange_container {
        width: 550px;
        height: 550px;
        background-color: orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .brahmasutra_section_wrapper {
        padding: 0;
        .slick-track {
          padding: 0;
          display: flex;
          align-items: center;
        }
        .slick-slide {
          text-align: center;
          transition: transform 0.3s ease-in-out;
          &:not(.slick-current) {
            opacity: 1;
            padding: 4rem 4rem;
          }
          &.slick-current {
            transform: scale(1.4);
            position: relative;
            z-index: 1;
          }
        }
        .brahmasutra_section_images {
          width: 100%;
          border-radius: 22px;
          margin: 94px 0;
          padding: 0px 13px;
          img {
            width: 100%;
            // padding-top: 64px;
            // padding-left: 0.8rem;
            // padding-right: 0.8rem;
          }
        }
      }
    }