
.brahmsutra {
  position: relative;
  span {
    color: #6a1c1c;
    margin: 40px 0;
    @media (max-width: 991px) {
      font-size: 45px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
    }
    @media (max-width: 575px) {
      font-size: 36px;
    }
  }
  .orange_container {
    width: 35%;
    height: 73%;
    background-color: orange;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    @media (max-width: 1199px) {
      height: 68%;
    }
    @media (max-width: 991px) {
      width: 60%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  .test_slider {
    padding: 75px 0 150px;

    .test_slider_wrapper {
      .imageCard {
        img {
          max-width: 100%;
          // width: 100%;
          margin: 0 auto;
          padding: 150px 0;
          @media (max-width: 1199px) {
            padding: 100px 0;
          }
        }
      }
      .slick-slide.slick-active {
        z-index: 99999;
        position: relative;
      }
      .slick-slide.slick-active.slick-center.slick-current {
        transform: scale(2.5);
        @media (max-width: 1199px) {
          transform: scale(2);
        }
      }
    }
    .index_indicator {
      position: absolute;
      color: #bababa;
      font-size: 32.185px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.322px;
      top: 100px;
      right: 10%;
      @media (max-width: 991px) {
        right: 30px;
        right: 4%;
        font-size: 28px;
      }
      @media (max-width: 575px) {
        font-size: 22px;
      }
      p {
        span {
          color: #6a1c1c;
          font-size: 32.185px;
          @media (max-width: 991px) {
            font-size: 28px;
          }
          @media (max-width: 575px) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
