// .brahmasutra_section_title {
//   color: #6a1c1c;
//   font-weight: 400;
//   font-size: 59px;
//   text-align: center;
//   margin-top: 3rem;
//   span {
//     @media (max-width: 426px) {
//       font-size: 30px !important;
//     }
//   }
//   p {
//     margin-bottom: 0;
//   }
// }
// .orange_container {
//   width: 50%;
//   height: 700px;
//   background-color: orange;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   // @media (min-width: 1600px) {
//   //   height: 650px;
//   // }
//   @media (max-width: 768px) {
//     width: 80%;
//     height: 600px;
//     z-index: 0;
//   }
//   @media (max-width: 625px) {
//     height: 500px;
//   }
//   @media (max-width: 426px) {
//     width: 100%;
//     height: 620px;
//     z-index: 0;
//   }
// }
// .test_slider {
//   overflow-x: hidden;
//   overflow-y: hidden;
//   position: relative;
//   margin-top: 4rem;
//   margin-bottom: 5rem;
//   @media (max-width: 768px) {
//     margin-top: 1rem;
//   }
//   @media (max-width: 426px) {
//     margin-top: 2rem;
//   }
//   @media (max-width: 376px) {
//     margin-top: 2rem;
//   }
//   .homePageCommonHeading {
//     padding: 83px 0 0;
//     .homePageCommonHeading_text {
//       color: white;
//     }
//   }
//   &_wrapper {
//     padding: 0;
//     max-width: 100%;
//     margin: 0 auto;
//     @media (max-width: 1199px) {
//       max-width: 100%;
//     }
//     @media (max-width: 991px) {
//       max-width: 100%;
//     }
//     @media (max-width: 769px) {
//       padding: 0;
//       max-width: 100%;
//     }
//     .slider {
//       max-width: 1110px;
//       margin: 0 auto;
//     }
//     .slick-track {
//       padding: 0;
//       margin-top: 6rem;
//       display: flex;
//       align-items: center;
//       @media (max-width: 768px) {
//         padding: 120px 0;
//       }
//       @media (max-width: 991px) {
//         padding: 50px 0 0px;
//       }
//       @media (max-width: 426px) {
//         margin-top: 2rem;
//       }
//     }
//     .slick-slide {
//       text-align: center;
//       // background-color: aqua;
//       margin-bottom: 90px;
//       margin-right: 2rem;
//       transition: transform 0.3s ease-in-out;
//       @media (max-width: 768px) {
//         margin-right: 1rem;
//       }
//       @media (max-width: 426px) {
//         margin-right: 3rem;
//       }
//     }
//     .slick-slide:not(.slick-current) {
//       // opacity: 0.5;
//       padding: 0 3rem;
//       @media (max-width: 426px) {
//         padding: 0 0px;
//       }
//     }
//     .slick-slide.slick-current {
//       transform: scale(2);
//       padding: 5rem 7rem;
//       position: relative;
//       z-index: 1;
//       @media (max-width: 768px) {
//         padding: 5rem;
//       }
//       @media (max-width: 426px) {
//         // opacity: 0.5;
//         transform: scale(2);
//         padding: 0 3rem;
//       }
//       @media (max-width: 376px) {
//         // opacity: 0.5;
//         transform: scale(2.5);
//         padding: 0 3rem;
//       }
//     }
//     .card_content {
//       color: rgb(232, 19, 19);
//       border-radius: 22px;
//       margin: 0px 0px;
//       // padding: 80px 0;
//       @media (max-width: 991px) {
//         padding: 20px 0;
//       }
//       @media (max-width: 768px) {
//         padding: 0px 5px;
//       }
//       @media (max-width: 476px) {
//         padding: 7rem;
//       }
//       @media (max-width: 376px) {
//         // padding: 17px 60px;
//         padding: 6rem;
//       }
//     }
//   }
// }
// .index_indicator {
//   position: absolute;
//   color: #bababa;
//   right: 5rem;
//   font-family: Inria Serif;
//   font-size: 32.185px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   letter-spacing: -0.322px;
//   p {
//     span {
//       color: #6a1c1c;
//     }
//   }
//   @media (max-width: 768px) {
//     right: 2rem;
//     top: 7rem;
//   }
//   @media (max-width: 625px) {
//     top: 3rem;
//     right: 1rem;
//   }
//   @media (max-width: 575px) {
//     display: none;
//   }
// }
// .card_content img {
//   width: 100%;
//   padding-top: 0;
//   // padding-left: 0.8rem;
//   // padding-right: 0.8rem;
//   // background-color: blue;
//   // padding-bottom: 4.8rem;
//   @media (max-width: 768px) {
//     // padding-top: 0;
//   }
//   @media (max-width: 476px) {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   @media (max-width: 376px) {
//   }
// }

.brahmsutra {
  position: relative;
  span {
    color: #6a1c1c;
    margin: 40px 0;
    @media (max-width: 991px) {
      font-size: 45px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
    }
    @media (max-width: 575px) {
      font-size: 36px;
    }
  }
  .orange_container {
    width: 35%;
    height: 73%;
    background-color: orange;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    @media (max-width: 1199px) {
      height: 68%;
    }
    @media (max-width: 991px) {
      width: 60%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  .test_slider {
    padding: 75px 0 150px;

    .test_slider_wrapper {
      .imageCard {
        img {
          max-width: 100%;
          // width: 100%;
          margin: 0 auto;
          padding: 150px 0;
          @media (max-width: 1199px) {
            padding: 100px 0;
          }
        }
      }
      .slick-slide.slick-active {
        z-index: 99999;
        position: relative;
      }
      .slick-slide.slick-active.slick-center.slick-current {
        transform: scale(2.5);
        @media (max-width: 1199px) {
          transform: scale(2);
        }
      }
    }
    .index_indicator {
      position: absolute;
      color: #bababa;
      font-size: 32.185px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.322px;
      top: 100px;
      right: 10%;
      @media (max-width: 991px) {
        right: 30px;
        right: 4%;
        font-size: 28px;
      }
      @media (max-width: 575px) {
        font-size: 22px;
      }
      p {
        span {
          color: #6a1c1c;
          font-size: 32.185px;
          @media (max-width: 991px) {
            font-size: 28px;
          }
          @media (max-width: 575px) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
