@media (min-width: 992px) {
  .Mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar.navbar-light {
    position: fixed;
    right: 20px;
  }
}
.dropdown {
  position: relative;
  top: 40%;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.nav-link {
  color: #000 !important;
}
button.Mobile.navbar-toggler.collapsed {
  padding: 0;
}
.dekstop {
  display: flex !important;
  flex-direction: row !important;
  justify-content: end;
  gap: 2rem;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  left: 100%;
  top: 0;
}
.dropdown-menu a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  width: fit-content;
  display: block;
  @media (max-width: 991px) {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.dropdown-menu[data-bs-popper] {
  margin: 0 !important;
}

@media (max-width: 991px) {
  .dekstop {
    display: none !important;
  }

  .navbar-nav .dropdown-menu {
    position: static !important;
    --bs-dropdown-border-width: 0 !important;
  }

  .dropdown-menu.show {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #fff2bd !important;
}

.padding {
  height: 0;
}

.navbar-nav .dropdown-menu {
  background-color: #fff2bd !important;
}

.mobile_dropdown {
  padding-bottom: 0px !important;
}

.line_underscore {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-bottom: 0px !important;

  &:hover {
    color: #6a1c1c;

    &::before {
      transform: scaleX(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #6a1c1c;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
}

#basic-nav-dropdown_sub {
  --bs-dropdown-border-color: none !important;
}

.dropdownsubmenu_btn {
  padding-left: 20px !important;
  // padding-top: 0px !important;
  // padding-bottom: 0px !important;
  text-decoration: none;
  color: black;
}

.dropdown-divider {
  margin: 5px 0 5px 20px !important;
}

.navbar-toggler {
  border: none !important;
}

.absolute_dropdown {
  position: absolute !important;
  left: 100%;
  top: 0;
}

.react_submenu:hover {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  display: none;
}

.navbar_divider {
  margin-left: 0 !important;
}

.offcanvas.offcanvas-end {
  background-color: #fff2bd;
}

.dropdown-item:hover {
  background-color: #fff2bd !important;
}
.dropdown-item:focus {
  background-color: #fff2bd !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
  text-decoration: none;
  background-color: #fff2bd !important;
}
.Mobile {
  border: 2px solid #e4c98e !important;
  border-radius: 50% !important;
  padding: 4px !important;
  color: #e4c98e !important;
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(228, 201, 142, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.btn-close {
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 1rem !important;
  margin-top: 5px !important;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}
.navbar-toggler-icon {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.offcanvas-header {
  justify-content: end !important;
  .btn-close:focus {
    box-shadow: none !important;
  }
}
.nav_link {
  color: #000 !important;
  text-decoration: none !important;
}
.nav_link_mobile {
  color: #000 !important;
  text-decoration: none !important;
}
.mobile_nav_link {
  padding: 0.5rem 0;
  color: #000 !important;
  text-decoration: none !important;
}
@media (min-width: 991px) {
  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown button {
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: black;
    transition: 0.3s;
    cursor: pointer;
  }

  .dropdown:hover button {
    background-color: transparent;
  }

  .dropdown > div {
    background-color: #fff2bd;
    z-index: 1;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transition: 0.3s;
    border: 1px solid #ddd2a4;
    border-radius: 10px;
  }

  .dropdown .submenu {
    position: relative;
  }

  .dropdown .submenu > div {
    background-color: #fff2bd;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 20px;
    transition: 0.3s;
    opacity: 0;
    border: 1px solid #ddd2a4;
    border-radius: 10px;
  }

  .dropdown .submenu:hover > div {
    visibility: visible;
    opacity: 1;
  }

  .dropdown:hover > div {
    visibility: visible;
    opacity: 1;
  }

  .dropdown a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    transition: 0.1s;
    white-space: nowrap;
    border-bottom: 1px solid #ddd2a4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .svg {
    display: flex;
  }

  .dropdown div:active {
    visibility: hidden;
  }
  .centers {
    padding: 0px !important;
    border-bottom: none !important;
  }
}
.sub_sub_menu .dropdown-menu{
  padding: 10px 0 0 !important;
}