@media (min-width: 991px) {
  .Mobile {
    display: none;
  }
}

.dropdown {
  position: relative;
  top: 40%;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
button.Mobile.navbar-toggler.collapsed {
  padding: 0;
}
.dekstop {
  display: flex !important;
  flex-direction: row !important;
  justify-content: end;
  gap: 2rem;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  left: 100%;
  top: 0;
}
.dropdown-menu[data-bs-popper] {
  margin: 0 !important;
}

@media (max-width: 991px) {
  .dekstop {
    display: none !important;
  }

  .navbar-nav .dropdown-menu {
    position: static !important;
    --bs-dropdown-border-width: 0 !important;
  }

  .dropdown-menu.show {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #fff2bd !important;
}

.padding {
  height: 0;
}

.navbar-nav .dropdown-menu {
  background-color: #fff2bd !important;
}

.mobile_dropdown {
  padding-bottom: 0px !important;
}

.line_underscore {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-bottom: 0px !important;

  &:hover {
    color: #6a1c1c;

    &::before {
      transform: scaleX(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #6a1c1c;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
}

#basic-nav-dropdown_sub {
  --bs-dropdown-border-color: none !important;
}

.dropdownsubmenu_btn {
  padding-left: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.dropdown-divider {
  margin: 5px 0 5px 20px !important;
}

.navbar-toggler {
  border: none !important;
}

.absolute_dropdown {
  position: absolute !important;
  left: 100%;
  top: 0;
}

.react_submenu:hover {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  display: none;
}

.navbar_divider {
  margin-left: 0 !important;
}

.offcanvas.offcanvas-end {
  background-color: #fff2bd;
}

.dropdown-item:hover {
  background-color: #fff2bd !important;
}
.dropdown-item:focus {
  background-color: #fff2bd !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
  text-decoration: none;
  background-color: #fff2bd !important;
}
